input,
select{

width:300px;
padding:8px;
margin-top:5px;

}

button{

padding:8px 20px;
margin-top:15px;

}

.error{

color:red;
font-size:14px;

}

.success{

margin-top:20px;
color:green;
font-weight:bold;

}

.ng-invalid.ng-touched{

border:2px solid red;

}

.ng-valid.ng-touched{

border:2px solid green;

}